## Import Data and Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Cleaning Labor (Dependent)**

In [2]:
#Import Data (Dependent Variable)
labor = pd.read_excel("C:\\Users\\user\\Downloads\\Datas\\labor-productivity-per-hour-pennworldtable (2).xlsx")

In [3]:
labor.head(7) #Navigating to the first 7 columns of the labor data

    Entity Code  Year  Productivity: output per hour worked
0  Albania  ALB  2005                             10.353054
1  Albania  ALB  2006                             11.228283
2  Albania  ALB  2007                             11.995945
3  Albania  ALB  2008                             14.754907
4  Albania  ALB  2009                             15.838745
5  Albania  ALB  2010                             16.740137
6  Albania  ALB  2011                             19.475384

In [4]:
labor.describe() #Navigating to its Descriptive Analysis

              Year  Productivity: output per hour worked
count  4965.000000                           4965.000000
mean   1997.677543                             25.975767
std      19.844271                             22.514652
min    1950.000000                              0.503521
25%    1983.000000                              8.010024
50%    2004.000000                             19.862648
75%    2014.000000                             38.193000
max    2023.000000                            175.478580

In [5]:
labor.info() # Looking for overall column-row numbers, data types, null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4965 entries, 0 to 4964
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                4965 non-null   object
 1   Code                                  4965 non-null   object
 2   Year                                  4965 non-null   int64
 3   Productivity: output per hour worked  4965 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 155.3+ KB

In [6]:
# Dropping Code Column
labor = labor.drop(columns=['Code'])
# Renaming Entity and Productivity columns
labor = labor.rename(columns={'Entity':'Country', 'Productivity: output per hour worked':'Labor Productivity'})

In [7]:
labor.head()

   Country  Year  Labor Productivity
0  Albania  2005           10.353054
1  Albania  2006           11.228283
2  Albania  2007           11.995945
3  Albania  2008           14.754907
4  Albania  2009           15.838745

In [8]:
labor = labor[labor['Year'].isin([2000, 2005, 2010, 2015, 2019])]

In [9]:
labor.head()

    Country  Year  Labor Productivity
0   Albania  2005           10.353054
5   Albania  2010           16.740137
10  Albania  2015           18.931322
14  Albania  2019           16.412170
19  Algeria  2005           24.904377

**Cleaning and Merging the 2015 and 2019 HAQ data (Independent Variable)**

In [10]:
#Importing HAQ data
haq1 = pd.read_csv("C:\\Users\\user\\Downloads\\Datas\\IHME_GBD_2015_HAQ_INDEX_1990_2015_HAQ_SDI_FRONTIER_Y2017M05D18.csv")
haq2 = pd.read_excel("C:\\Users\\user\\Downloads\\Datas\\HAQ 2019 DATA.xlsx")

In [11]:
# Navigating the head columns of 1990-2015 HAQ 
haq1.head()

,location_id,location_name,year_id,measure,val
0,1,Global,1990,Healthcare Access and Quality Index frontier,61.9
1,1,Global,1995,Healthcare Access and Quality Index frontier,64.5
2,1,Global,2000,Healthcare Access and Quality Index frontier,67.2
3,1,Global,2005,Healthcare Access and Quality Index frontier,70.0
4,1,Global,2010,Healthcare Access and Quality Index frontier,72.4

In [12]:
# Dropping unuseful data column
haq1 =haq1.drop(columns=['location_id', 'measure'])
# Renaming needed column
haq1 = haq1.rename(columns={'year_id':'Year', 'val':'HAQ15'})

In [13]:
haq1.head()

  location_name  Year  HAQ15
0        Global  1990   61.9
1        Global  1995   64.5
2        Global  2000   67.2
3        Global  2005   70.0
4        Global  2010   72.4

In [14]:
haq2.head()

,location_id,location_name,year_id,age_group_id,age_group_name,haq_index_age_type,indicator_id,indicator_name,measure,val
0,6,China,1990,27,Age-standardized,Overall,100,HAQ Index,Index,35.033943
1,6,China,1990,27,Age-standardized,Overall,297,Tuberculosis,Mortality-to-incidence ratios (MIR),0.151080
2,6,China,1990,27,Age-standardized,Overall,302,Diarrheal diseases,Mortality-to-incidence ratios (MIR),0.000377
3,6,China,1990,27,Age-standardized,Overall,322,Lower respiratory infections,Risk-standardised death rates (RSD),0.000904
4,6,China,1990,27,Age-standardized,Overall,328,Upper respiratory infections,Risk-standardised death rates (RSD),0.000019

In [15]:
haq2['year_id'].unique() # Checking the unique years

array([1990, 2019], dtype=int64)

In [16]:
# Filtering only the HAQ index Indicator
haq2 = haq2[haq2['indicator_name'] == 'HAQ Index']
haq2 = haq2[haq2['haq_index_age_type']=='Overall']

In [17]:
haq2.head() # Checking the table

,location_id,location_name,year_id,age_group_id,age_group_name,haq_index_age_type,indicator_id,indicator_name,measure,val
0,6,China,1990,27,Age-standardized,Overall,100,HAQ Index,Index,35.033943
33,160,Afghanistan,2019,27,Age-standardized,Overall,100,HAQ Index,Index,28.866354
222,7,Democratic People's Republic of Korea,1990,27,Age-standardized,Overall,100,HAQ Index,Index,36.436436
255,43,Albania,2019,27,Age-standardized,Overall,100,HAQ Index,Index,67.544392
444,8,Taiwan (Province of China),1990,27,Age-standardized,Overall,100,HAQ Index,Index,58.985651

In [18]:
haq2 = haq2.drop(columns=['location_id', 'age_group_id','age_group_name','haq_index_age_type','indicator_id','indicator_name','measure'])

In [19]:
haq2.head()

                             location_name  year_id        val
0                                    China     1990  35.033943
33                             Afghanistan     2019  28.866354
222  Democratic People's Republic of Korea     1990  36.436436
255                                Albania     2019  67.544392
444             Taiwan (Province of China)     1990  58.985651

In [20]:
haq2= haq2.rename(columns={'location_name':'Country', 'year_id':'Year', 'val':'HAQ19'})

In [21]:
haq2.head()

                                   Country  Year      HAQ19
0                                    China  1990  35.033943
33                             Afghanistan  2019  28.866354
222  Democratic People's Republic of Korea  1990  36.436436
255                                Albania  2019  67.544392
444             Taiwan (Province of China)  1990  58.985651

In [22]:
# Merging HAQ15 and HAQ19
# Rename columns to be consistent
haq1 = haq1.rename(columns={
    'location_name': 'Country',
    'HAQ15': 'HAQ'
})

haq2 = haq2.rename(columns={
    'HAQ19': 'HAQ'
})

In [23]:
# Keeping selected years from HAQ1
haq1 = haq1[haq1['Year'].isin([2000, 2005, 2010, 2015])]

# Keep only 2019 from HAQ2
haq2 = haq2[haq2['Year'] == 2019]

In [24]:
# Merging the two
haq = pd.concat([haq1, haq2], ignore_index=True)

In [25]:
haq.head()

                                  Country  Year   HAQ
0                                  Global  2000  67.2
1                                  Global  2005  70.0
2                                  Global  2010  72.4
3                                  Global  2015  73.8
4  Southeast Asia, East Asia, and Oceania  2000  67.2

In [26]:
haq = haq.sort_values(['Country', 'Year'])

In [27]:
haq.head()

         Country  Year        HAQ
628  Afghanistan  2000  37.800000
629  Afghanistan  2005  41.400000
630  Afghanistan  2010  44.700000
631  Afghanistan  2015  47.600000
896  Afghanistan  2019  28.866354

In [28]:
# Checking the Number of unique Countries
haq['Country'].nunique()

255

In [29]:
# Checking empty and Nan values 
haq.isnull().sum()

Country    0
Year       0
HAQ        0
dtype: int64

**Cleaning on Government (Controlled Variable)**

In [30]:
cc = pd.read_excel('C:\\Users\\user\\Downloads\\Datas\\Control of Corruption.xlsx')

In [31]:
cc.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1996,1997,1998,1999,2000,2001,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Control of Corruption: Estimate,CC.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,1.248301,1.232693,1.239614,1.207401,1.174431,1.198827,0.800939,0.756487,0.709075,NaN
1,Africa Eastern and Southern,AFE,Control of Corruption: Estimate,CC.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,-1.291705,NaN,-1.176012,NaN,-1.271724,NaN,...,-1.354713,-1.540228,-1.530075,-1.502876,-1.419310,-1.493361,-1.152266,-1.183684,-1.154932,NaN
3,Africa Western and Central,AFW,Control of Corruption: Estimate,CC.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Control of Corruption: Estimate,CC.EST,-1.167702,NaN,-1.180451,NaN,-1.197514,NaN,...,-1.427727,-1.483990,-1.445172,-1.199484,-1.054618,-0.935061,-0.649476,-0.612376,-0.609920,NaN

In [32]:
cc = cc.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code']) # dropping unnecessary columns

In [33]:
cc = cc.rename(columns={'Country Name':'Country'}) # Renaming Columns for merging purposes

In [34]:
# Tranforming the data into tabular format
cc = cc.melt(
    id_vars=['Country'],
    var_name='Year',
    value_name='Control of Corruption: Estimate'
)

In [35]:
# Droping empty and Nan values
cc = cc.dropna()

In [36]:
# converting Year values into numeric and filter needed data 2000, 2005, 2010, 2015, 2019
cc['Year'] = pd.to_numeric(cc['Year'], errors='coerce')
cc = cc[cc['Year'].isin([2000, 2005, 2010, 2015, 2019])]

In [37]:
cc.head()

                   Country  Year  Control of Corruption: Estimate
1066           Afghanistan  2000                        -1.271724
1068                Angola  2000                        -1.197514
1069               Albania  2000                        -0.855564
1070               Andorra  2000                         1.313404
1072  United Arab Emirates  2000                         0.103345

**Cleaning on Education (Controlled Variable)**

In [38]:
educ = pd.read_excel('C:\\Users\\user\\Downloads\\Datas\\Government expenditure on education, total (% of GDP).xlsx')

In [39]:
educ.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.255800,4.543970,4.343190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.737919,4.692000,4.430510,4.739750,4.511410,4.090565,4.368379,3.697668,3.962293,NaN
2,Africa Western and Central,AFW,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.138830,2.615035,3.296630,3.051252,3.047399,3.398741,3.096926,2.891687,3.215620,NaN
3,Albania,ALB,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.437970,3.962090,3.611720,3.082014,3.870190,3.325040,3.005560,2.729770,3.091530,NaN
4,Algeria,DZA,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.176330,6.502108,5.734824,5.812751,5.575366,6.193917,5.514033,4.749247,5.610157,NaN

In [40]:
# Dropping unneccesary columns 
educ = educ.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code'])

In [41]:
# Renaming columns for merging purposes
educ = educ.rename(columns={'Country Name':'Country'})

In [42]:
# Tranforming the data into tabular format
educ = educ.melt(
    id_vars=['Country'],
    var_name='Year',
    value_name='Government expenditure on education, total (% of GDP)'
)

In [43]:
# Droping empty and Nan values
educ = educ.dropna()

In [44]:
# converting Year values into numeric and filter needed data 2000, 2005, 2010, 2015, 2019
educ['Year'] = pd.to_numeric(educ['Year'], errors='coerce')
educ = educ[educ['Year'].isin([2000, 2005, 2010, 2015, 2019])]

In [45]:
educ.head()

,Country,Year,"Government expenditure on education, total (% of GDP)"
10641,Africa Eastern and Southern,2000,3.60613
10642,Africa Western and Central,2000,2.46335
10643,Albania,2000,3.43017
10647,Angola,2000,2.60753
10650,Argentina,2000,4.58031

**Converting Government Expenditure into Real base form 'constant at 2015'**

In [46]:
curr = pd.read_excel('C:\\Users\\user\\Downloads\\Datas\\GDP (current US$).xlsx')
cons = pd.read_excel('C:\\Users\\user\\Downloads\\Datas\\GDP (Constant, 2015).xls', skiprows = 3)

In [47]:
curr.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.715223e+10,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.420993e+10,2.496326e+10,2.707802e+10,3.177483e+10,3.028492e+10,3.381219e+10,...,8.983089e+11,8.289612e+11,9.730251e+11,1.012291e+12,1.009747e+12,9.334072e+11,1.085605e+12,1.191639e+12,1.133818e+12,1.205974e+12
2,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190511e+10,1.270803e+10,1.363092e+10,1.446926e+10,1.580394e+10,1.692124e+10,...,7.780221e+11,7.000282e+11,6.940513e+11,7.778404e+11,8.332889e+11,7.972952e+11,8.581145e+11,8.936399e+11,8.147285e+11,6.700257e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.147017e+10,1.198867e+10,1.325827e+10,1.537951e+10,1.558511e+10,1.524146e+10,1.803201e+10,1.901724e+10,2.354718e+10,2.717774e+10
4,Algeria,DZA,GDP (current US$),NY.GDP.MKTP.CD,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,...,1.874939e+11,1.807638e+11,1.898809e+11,1.945545e+11,1.934597e+11,1.648734e+11,1.862312e+11,2.256385e+11,2.476262e+11,2.636198e+11

In [48]:
# Dropping unneccesary columns 
curr = curr.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code'])
# Renaming columns for merging purposes
curr = curr.rename(columns={'Country Name':'Country'})
# Tranforming the data into tabular format
curr = curr.melt(
    id_vars=['Country'],
    var_name='Year',
    value_name='GDP (current US$)'
)
# Droping empty and Nan values
curr = curr.dropna()
# converting Year values into numeric and filter needed data 2000, 2005, 2010, 2015, 2019
curr['Year'] = pd.to_numeric(curr['Year'], errors='coerce')
curr = curr[curr['Year'].isin([2000, 2005, 2010, 2015, 2019])]
curr.head()

                           Country  Year  GDP (current US$)
10640                  Afghanistan  2000       3.521418e+09
10641  Africa Eastern and Southern  2000       2.872017e+11
10642   Africa Western and Central  2000       1.421401e+11
10643                      Albania  2000       3.584570e+09
10644                      Algeria  2000       5.479040e+10

In [49]:
cons.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,GDP (constant 2015 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,3.013858e+09,3.226291e+09,3.303628e+09,3.229876e+09,2.383267e+09,2.958412e+09,3.210407e+09,3.347290e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (constant 2015 US$),NY.GDP.MKTP.KD,1.524804e+11,1.531966e+11,1.652511e+11,1.745423e+11,1.827275e+11,1.921554e+11,...,8.983089e+11,9.180356e+11,9.427881e+11,9.679137e+11,9.892111e+11,9.609218e+11,1.004774e+12,1.040502e+12,1.060181e+12,1.089514e+12
2,Afghanistan,AFG,GDP (constant 2015 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.956672e+10,2.008465e+10,2.032350e+10,2.111847e+10,2.062196e+10,1.634520e+10,1.532523e+10,1.567265e+10,NaN
3,Africa Western and Central,AFW,GDP (constant 2015 US$),NY.GDP.MKTP.KD,1.095681e+11,1.116166e+11,1.157754e+11,1.239251e+11,1.305733e+11,1.359342e+11,...,7.780221e+11,7.795328e+11,7.974322e+11,8.205948e+11,8.475281e+11,8.391874e+11,8.730067e+11,9.077084e+11,9.381891e+11,9.773688e+11
4,Angola,AGO,GDP (constant 2015 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,8.816157e+10,8.803178e+10,8.687297e+10,8.626288e+10,8.139919e+10,8.237534e+10,8.488345e+10,8.579857e+10,8.959422e+10

In [50]:
# Dropping unneccesary columns 
cons = cons.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code'])
# Renaming columns for merging purposes
cons = cons.rename(columns={'Country Name':'Country'})
# Tranforming the data into tabular format
cons = cons.melt(
    id_vars=['Country'],
    var_name='Year',
    value_name='GDP (constant 2015 US$)'
)
# Droping empty and Nan values
cons = cons.dropna()
# converting Year values into numeric and filter needed data 2000, 2005, 2010, 2015, 2019
cons['Year'] = pd.to_numeric(cons['Year'], errors='coerce')
cons = cons[cons['Year'].isin([2000, 2005, 2010, 2015, 2019])]
cons.head()

                           Country  Year  GDP (constant 2015 US$)
10640                        Aruba  2000             2.735727e+09
10641  Africa Eastern and Southern  2000             4.861410e+11
10642                  Afghanistan  2000             6.206548e+09
10643   Africa Western and Central  2000             3.256617e+11
10644                       Angola  2000             3.130450e+10

**Merging the cleaned data on Education to Derive Real based value**

In [51]:
educ_curr = pd.merge(educ, curr, on=['Country', 'Year'], how='inner')
educ_r = pd.merge(educ_curr, cons, on=['Country', 'Year'], how='inner')

In [52]:
educ_r.head()

,Country,Year,"Government expenditure on education, total (% of GDP)",GDP (current US$),GDP (constant 2015 US$)
0,Africa Eastern and Southern,2000,3.60613,2.872017e+11,4.861410e+11
1,Africa Western and Central,2000,2.46335,1.421401e+11,3.256617e+11
2,Albania,2000,3.43017,3.584570e+09,6.153077e+09
3,Angola,2000,2.60753,9.129595e+09,3.130450e+10
4,Argentina,2000,4.58031,2.842038e+11,3.956461e+11

In [53]:
educ_r['Government expenditure on education, total (% of GDP: Constant 2015)'] = (
    educ_r['Government expenditure on education, total (% of GDP)']
    * (educ_r['GDP (current US$)'] / educ_r['GDP (constant 2015 US$)'])
)

In [54]:
educ_r.head()

,Country,Year,"Government expenditure on education, total (% of GDP)",GDP (current US$),GDP (constant 2015 US$),"Government expenditure on education, total (% of GDP: Constant 2015)"
0,Africa Eastern and Southern,2000,3.60613,2.872017e+11,4.861410e+11,2.130424
1,Africa Western and Central,2000,2.46335,1.421401e+11,3.256617e+11,1.075167
2,Albania,2000,3.43017,3.584570e+09,6.153077e+09,1.998299
3,Angola,2000,2.60753,9.129595e+09,3.130450e+10,0.760456
4,Argentina,2000,4.58031,2.842038e+11,3.956461e+11,3.290166

In [55]:
educ_r= educ_r.drop(columns=['Government expenditure on education, total (% of GDP)','GDP (current US$)','GDP (constant 2015 US$)'])

In [56]:
educ_r.head()

,Country,Year,"Government expenditure on education, total (% of GDP: Constant 2015)"
0,Africa Eastern and Southern,2000,2.130424
1,Africa Western and Central,2000,1.075167
2,Albania,2000,1.998299
3,Angola,2000,0.760456
4,Argentina,2000,3.290166

**Data Cleaning on Technology (Controlled Variable)**

In [57]:
tech = pd.read_excel('C:\\Users\\user\\Downloads\\Datas\\Individuals using the Internet (% of population).xlsx')

In [58]:
tech.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.26,11.0000,13.5000,16.8000,17.6000,17.0485,16.5143,17.1917,17.7089,NaN
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.30,15.8000,17.3000,19.6000,22.4000,25.0000,28.2000,30.2000,32.4000,35.0
2,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.30,19.9000,23.2000,25.7000,28.7000,31.7000,34.9000,36.9000,38.1000,40.2
3,Albania,ALB,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,56.90,59.6000,62.4000,65.4000,68.5504,72.2377,79.3237,82.6137,83.1356,NaN
4,Algeria,DZA,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.20,42.9455,47.6911,49.0385,55.7907,63.4727,72.2124,74.8319,76.9081,NaN

In [59]:
# Dropping unneccesary columns 
tech = tech.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code'])
# Renaming columns for merging purposes
tech = tech.rename(columns={'Country Name':'Country'})
# Tranforming the data into tabular format
tech = tech.melt(
    id_vars=['Country'],
    var_name='Year',
    value_name='Individuals using the Internet (% of population)'
)
# Droping empty and Nan values
tech = tech.dropna()
# converting Year values into numeric and filter needed data 2000, 2005, 2010, 2015, 2019
tech['Year'] = pd.to_numeric(educ['Year'], errors='coerce')
tech = tech[tech['Year'].isin([2000, 2005, 2010, 2015, 2019])]
tech.head()

         Country    Year  Individuals using the Internet (% of population)
10643    Albania  2000.0                                          0.114097
10647     Angola  2000.0                                          0.105046
10650  Argentina  2000.0                                          7.038680
10651    Armenia  2000.0                                          1.300470
10652      Aruba  2000.0                                         15.442800

**Data Cleaning on Foreign Direct Investment as representative of Investment (Controlled Variable)**

In [60]:
fdi = pd.read_csv('C:\\Users\\user\\Downloads\\Datas\\US_FdiFlowsStock.csv')

In [61]:
fdi.head()

,Year,Economy,Economy Label,Flow,Flow Label,Direction,Direction Label,US$ at current prices in millions,US$ at current prices in millions Footnote,US$ at current prices in millions Missing value,...,US$ at current prices per capita Missing value,Percentage of total world,Percentage of total world Footnote,Percentage of total world Missing value,Percentage of Gross Domestic Product,Percentage of Gross Domestic Product Footnote,Percentage of Gross Domestic Product Missing value,Percentage of Gross Fixed Capital Formation,Percentage of Gross Fixed Capital Formation Footnote,Percentage of Gross Fixed Capital Formation Missing value
0,1990,0,World,8,Flow,1,Inward,204887.703,NaN,NaN,...,NaN,100.00000,NaN,NaN,0.89321,NaN,NaN,3.59448,NaN,NaN
1,1990,0,World,8,Flow,2,Outward,243874.746,NaN,NaN,...,NaN,100.00000,NaN,NaN,1.12050,NaN,NaN,4.50969,NaN,NaN
2,1990,0,World,9,Stock,1,Inward,2196202.948,NaN,NaN,...,NaN,100.00000,NaN,NaN,9.57406,NaN,NaN,38.52880,NaN,NaN
3,1990,0,World,9,Stock,2,Outward,2254903.328,NaN,NaN,...,NaN,100.00000,NaN,NaN,10.31814,NaN,NaN,41.62042,NaN,NaN
4,1990,5100,Africa,8,Flow,1,Inward,2845.173,NaN,NaN,...,NaN,1.38865,NaN,NaN,0.51055,NaN,NaN,2.16308,NaN,NaN

In [62]:
print(fdi.columns)

Index(['Year', 'Economy', 'Economy Label', 'Flow', 'Flow Label', 'Direction',
       'Direction Label', 'US$ at current prices in millions',
       'US$ at current prices in millions Footnote',
       'US$ at current prices in millions Missing value',
       'US$ at current prices per capita',
       'US$ at current prices per capita Footnote',
       'US$ at current prices per capita Missing value',
       'Percentage of total world', 'Percentage of total world Footnote',
       'Percentage of total world Missing value',
       'Percentage of Gross Domestic Product',
       'Percentage of Gross Domestic Product Footnote',
       'Percentage of Gross Domestic Product Missing value',
       'Percentage of Gross Fixed Capital Formation',
       'Percentage of Gross Fixed Capital Formation Footnote',
       'Percentage of Gross Fixed Capital Formation Missing value'],
      dtype='object')

In [63]:
# Dropping unecessary columns
fdi = fdi.drop(columns=['Percentage of Gross Fixed Capital Formation Footnote',
       'Percentage of Gross Fixed Capital Formation Missing value', 'Percentage of Gross Domestic Product Footnote',
       'Percentage of Gross Domestic Product Missing value', 'Percentage of total world Footnote',
       'Percentage of total world Missing value', 'US$ at current prices per capita Footnote',
       'US$ at current prices per capita Missing value', 'US$ at current prices in millions Footnote',
       'US$ at current prices in millions Missing value'])

In [64]:
fdi.head()

,Year,Economy,Economy Label,Flow,Flow Label,Direction,Direction Label,US$ at current prices in millions,US$ at current prices per capita,Percentage of total world,Percentage of Gross Domestic Product,Percentage of Gross Fixed Capital Formation
0,1990,0,World,8,Flow,1,Inward,204887.703,38.696,100.00000,0.89321,3.59448
1,1990,0,World,8,Flow,2,Outward,243874.746,54.482,100.00000,1.12050,4.50969
2,1990,0,World,9,Stock,1,Inward,2196202.948,414.191,100.00000,9.57406,38.52880
3,1990,0,World,9,Stock,2,Outward,2254903.328,497.138,100.00000,10.31814,41.62042
4,1990,5100,Africa,8,Flow,1,Inward,2845.173,4.422,1.38865,0.51055,2.16308

In [65]:
# grouping the inward and outward FDI
inward_fdi = fdi[fdi["Direction Label"] == "Inward"]
outward_fdi = fdi[fdi["Direction Label"] == "Outward"]

In [66]:
# Getting the needed data FDI Inward Flows
inward_flow  = inward_fdi[inward_fdi["Flow Label"] == "Flow"]

In [67]:
inward_flow.head()

,Year,Economy,Economy Label,Flow,Flow Label,Direction,Direction Label,US$ at current prices in millions,US$ at current prices per capita,Percentage of total world,Percentage of Gross Domestic Product,Percentage of Gross Fixed Capital Formation
0,1990,0,World,8,Flow,1,Inward,204887.703,38.696,100.000000,0.89321,3.59448
4,1990,5100,Africa,8,Flow,1,Inward,2845.173,4.422,1.388650,0.51055,2.16308
8,1990,5110,Northern Africa,8,Flow,1,Inward,1155.481,7.824,0.563958,0.62350,2.71709
12,1990,5120,Sub-Saharan Africa,8,Flow,1,Inward,1689.692,3.409,0.824692,0.45428,1.89837
16,1990,5121,Eastern Africa,8,Flow,1,Inward,389.289,2.031,0.190001,0.52971,2.76859

In [68]:
# Getting the US$ at current prices in millions data
fdi = inward_flow[['Economy Label', 'Year', 'US$ at current prices in millions']]

In [69]:
fdi.head()

         Economy Label  Year  US$ at current prices in millions
0                World  1990                         204887.703
4               Africa  1990                           2845.173
8      Northern Africa  1990                           1155.481
12  Sub-Saharan Africa  1990                           1689.692
16      Eastern Africa  1990                            389.289

In [70]:
# Renaming columns for merging purposes
fdi = fdi.rename(columns={'Economy Label': 'Country', 'US$ at current prices in millions': 'FDI (US$ at current prices in millions)'})

In [71]:
fdi['Year'] = pd.to_numeric(fdi['Year'], errors='coerce')
fdi = fdi[fdi['Year'].isin([2000, 2005, 2010, 2015, 2019])]

In [72]:
fdi.head()

                 Country  Year  FDI (US$ at current prices in millions)
9444               World  2000                              1356683.225
9448              Africa  2000                                10381.782
9452     Northern Africa  2000                                 3250.129
9456  Sub-Saharan Africa  2000                                 7131.653
9460      Eastern Africa  2000                                 2198.173

**Merging all the Data**

In [73]:
df = pd.merge(labor, haq, on=['Country', 'Year'], how='left')
df = pd.merge(df, educ_r, on=['Country', 'Year'], how='left')
df = pd.merge(df, cc, on=['Country', 'Year'], how='left')
df = pd.merge(df, tech, on=['Country', 'Year'], how='left')
df = pd.merge(df, fdi, on=['Country', 'Year'], how='left')

In [74]:
df.head()

,Country,Year,Labor Productivity,HAQ,"Government expenditure on education, total (% of GDP: Constant 2015)",Control of Corruption: Estimate,Individuals using the Internet (% of population),FDI (US$ at current prices in millions)
0,Albania,2005,10.353054,75.000000,3.316449,-0.813264,6.04389,264.339
1,Albania,2010,16.740137,77.000000,NaN,-0.531617,NaN,1050.708
2,Albania,2015,18.931322,79.100000,3.437970,-0.545141,56.90000,945.723
3,Albania,2019,16.412170,67.544392,4.630887,-0.564274,68.55040,1287.967
4,Algeria,2005,24.904377,69.700000,NaN,-0.466420,NaN,1145.618

In [75]:
# Getting only all caountry that has complete data on required years 
required_years = {2000, 2005, 2010, 2015, 2019}

countries_complete = (
    df[df['Year'].isin(required_years)]
    .groupby('Country')['Year']
    .nunique()
)

valid_countries = countries_complete[
    countries_complete == len(required_years)
].index

df_filtered = df[
    (df['Country'].isin(valid_countries)) &
    (df['Year'].isin(required_years))
].sort_values(['Country', 'Year'])

In [76]:
df_filtered.head()

,Country,Year,Labor Productivity,HAQ,"Government expenditure on education, total (% of GDP: Constant 2015)",Control of Corruption: Estimate,Individuals using the Internet (% of population),FDI (US$ at current prices in millions)
12,Argentina,2000,23.287077,76.100000,3.290166,-0.172408,7.03868,10418.314
13,Argentina,2005,21.956108,77.200000,1.762309,-0.377738,17.72060,5265.263
14,Argentina,2010,27.548946,79.600000,3.847187,-0.355230,45.00000,11332.719
15,Argentina,2015,30.041763,81.900000,5.776110,-0.581265,68.04310,11758.994
16,Argentina,2019,33.711970,59.876111,3.738780,-0.107116,79.94700,6649.188

In [77]:
# Checking the number of unique countries 
df_filtered['Country'].nunique()

67

In [78]:
# Export 
df_filtered.to_excel("Data.xlsx", index=False)